#page {
    /* background-image: url(https://cdn.discordapp.com/attachments/688236743954399301/981370850043379772/aberrant3.png); */
    height: 150%;
    background-color: rgb(0, 0, 0);
    /* background-image: url(https://github.com/astrosteiner/astrosteiner.github.io/blob/main/screen-shot-2020-04-25-at-4-23-20-pm_orig.png?raw=true); */
  }

.container2D, .container-fluid {
    margin: auto;
    background-color: #0449aa00;
    margin-bottom: 200px;
    padding: 50px;
    max-width: 1200px;
    
  }
  
  #c {
      padding: 10px;
      transition: .5s ease;
      /* -webkit-filter: drop-shadow(5px 5px 5px rgb(32, 12, 41)); */
      /* filter: drop-shadow(5px 5px 5px #222); */
    }
    
    #c img {
      max-width:100%;
      max-height:100%;
      backface-visibility: hidden;
      overflow: hidden;
    }

   