#page {
  background-image: url(https://cdn.discordapp.com/attachments/688236743954399301/981370850043379772/aberrant3.png);
  height: 100%;
}

a {
  /* font-family: 'WarenhausTypenhebelStandard'; */
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
  color: aliceblue;
}

.container {
  text-align: center;
  background-color: #0449aa36;
  margin-top: 70px;
  margin-bottom: 200px;
  padding: 5px;
  max-width: 700px;
}

.container2D, .container-fluid {
  margin: auto;
  background-color: #0449aa36;
  margin-bottom: 200px;
  padding: 50px;
  max-width: 1200px;
  
}

.socials {
  text-align: center;
  background-color: #ff000000;
  margin-top: 20px;
  padding: 5px;
  max-width: 700px;
}

.socials img:hover {
  opacity: .5;
}


body {
    font-size: 20px;
}

#custom-nav{  
  background-color: rgba(159, 133, 225, 0.5);
  opacity: 1;
}
.navbar-nav{
  text-align: center;
}


.navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d00;
  color: white;
  padding: 7px;
  font-size: 20px;
  border: none;
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5b5b5b8f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: rgb(56, 56, 56);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff5b;}
  
.main {
  text-align: center;
}
