#page {
  /* background-image: url(https://cdn.discordapp.com/attachments/688236743954399301/981370850043379772/aberrant3.png); */
  height: 100%;
  /* background-color: rgb(20, 20, 20); */
  /* background-image: linear-gradient(rgb(32, 50, 68), rgb(40, 42, 81), rgb(57, 35, 74), rgb(60, 37, 82), rgb(45, 27, 57), rgb(23, 14, 30)); */
  overflow: hidden;
  /* background-image: url(https://github.com/astrosteiner/astrosteiner.github.io/blob/main/photo/me.png?raw=true); */
}

.main {
  text-align: center;
}

body {
  font-size: 20px;
}

a {
  /* font-family: 'WarenhausTypenhebelStandard'; */
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
  color: rgb(224, 237, 249);
}

a:hover {
  color: rgb(30, 30, 30);
}

h1 {
  margin-top: 20px;
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: rgb(211, 225, 236);
  font-size: 25px;
}

p {
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
  color: rgb(205, 220, 234);
}

.store {
  width: 200px;
  text-align: right;
}

.container {
  text-align: center;
  background-color: #0449aa00;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 5px;
  max-width: 700px;
}

.socials {
  text-align: center;
  background-color: #ff000000;
  margin-top: 20px;
  padding: 5px;
  max-width: 700px;
}

.socials img:hover {
  opacity: .5;
}


#custom-nav{  
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 255, 0.232), rgba(255,0,0,0));;
  opacity: 1;
  
}

.navbar-nav{
  text-align: center;
}

#navbarSupportedContent {
  justify-content: center;
  
}

.navbar-nav .nav-item .nav-link {
  color: rgb(233, 244, 253);
  text-align: center;
}


/* Dropdown Button */
.dropbtn {
  background-color: #00ffa200;
  color:  rgba(233, 244, 253, 0.775);
  padding: 7px;
  font-size: 20px;
  border: none;
  font-family: 'OddBallzRegular';
  font-weight: normal;
  font-style: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  text-align: center;
  background-color: rgba(163, 191, 225, 0.807);
  /* border-radius: ; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: rgb(233, 244, 253);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: rgba(59, 72, 80, 0.503);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #c5d4df5b;}

#mydiv {
  position: absolute;
}

